<!-- Hero Section -->
<section
	class="relative text-blue py-20 h-[60vh] bg-cover bg-center"
	style="background-image: url('{{ background_image }}');">

	<!-- Transparent Overlay -->
	<div
		class="absolute inset-0 bg-warmPeach opacity-50 z-0"></div>

	<!-- Hero Content -->
	<div
		class="relative z-10 container mx-auto text-center p-8">
		<h1
			class="text-4xl md:text-5xl font-bold mb-4 text-white">
			{{ title }}
		</h1>
		<p
			class="text-xl md:text-2xl mb-8 text-white">
			{{ description }}
		</p>
		{% if button_text and button_url %}
			<a
				href="{{ button_url }}" class="bg-white text-blue-500 font-semibold px-6 py-3 rounded-full shadow-lg hover:bg-gray-100">
				{{ button_text }}
			</a>
		{% endif %}
	</div>
</section>
