<!-- Hero Section -->
<section
	class="container relative text-blue cover h-[80vh] bg-cover justify-center items-center py-20">
	<div class="grid grid-cols-1 md:grid-cols-2">
		<!-- Hero Content -->
		<div class="flex justify-center flex-col items-center  text-center p-8"> 
			<h1 class="text-4xl md:text-3xl font-bold mb-4 text-black"> {{ title }} 
			</h1> 
				<p class="text-lg md:text-2xl mb-8 text-darkPink"> {{ description }} 
				</p> {% if button_text and button_url %} 
					<a href="{{ button_url }}" class="bg-white text-blue-500 font-semibold px-6 py-3 rounded-full shadow-lg hover:bg-gray-100"> {{ button_text }} 
					</a> {% endif %} 
		</div>
			<div>
				{% if hero_image %}
				<img src="{{ hero_image }}" alt="Hero Image" class="ax-w-full  h-[70vh] object-cover rounded-t-full">
				{% endif %}
			</div>
		</div>
</section>
